button:hover{
    background-color: rgb(120, 123, 123);
}
.btn{
    color: rgb(239, 240, 240);
    font-size: 15px;
    padding:10px 10px; background:rgb(80, 78, 78); border: 10px;;
    border-radius: 5px;
    
}